.git
.github

# Copy from .gitignore
**/__pycache__

/run.bat
/source.py
/tasks.txt
/threads.txt
/bot/web/assets/eval.txt
/bot/web/assets/log.txt
/bot/web/assets/ssh.txt

/.idea
/server
/tracks
/venv
/bot/web/assets/images
