**/__pycache__

# Files
/run.bat
/source.py
/tasks.txt
/threads.txt
/bot/web/assets/eval.txt
/bot/web/assets/log.txt
/bot/web/assets/ssh.txt

# Folders
/.idea
/.mypy_cache
/server
/tracks
/venv
/bot/web/assets/images
