**/__pycache__

/run.bat
/source.py
/tasks.txt
/threads.txt
/bot/assets/server/eval.txt
/bot/assets/server/log.txt
/bot/assets/server/ssh.txt

/.idea
/.mypy_cache
/server
/tracks
/venv
/bot/assets/server/images
