:root {
    --gray: #36393F;
}

body {
    font-family: Arial, sans-serif;
}

* a {
    text-decoration: none;
}

* div {
    overflow: auto;
}

.split {
    height: 100%;
    position: fixed;
    top: 0;
}