:root {
    --gray: #36393F;
}

body {
    font-family: Arial, sans-serif;
}

* a {
    text-decoration: none;
}

.split {
    height: 100%;
    position: fixed;
    top: 0;
}


.sidebar {
    background-color: black;
    width: 20%;
    left: 0;
}

.sidebar #sidebar-inner {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.sidebar #avatar {
    position: relative;
    top: 20px;
    width: 75%;
    margin: 12.5%;
}

.sidebar #source-code-href-section {
    text-align: center;
}

.sidebar #source-code-href {
    color: green;
}

.sidebar div.nav-item {
    cursor: default;
    text-align: right;
    color: yellow;
    padding: 10px;
}

.sidebar div.nav-item:hover {
    background-color: var(--gray);
}


.main {
    background-color: var(--gray);
    width: 80%;
    right: 0;
}

.main #main-inner {
    padding: 10px;
}

.main h1,
.main h2,
.main h3,
.main h4 {
    color: lightgreen;
}

/* Image generator styles */

.main #random-image-container {
    position: relative;
    width: 50%;
    height: 50%;
}

.main #random-image {
    max-width: 100%;
    max-height: 100%;
}

.main #reload-button {
    background-color: black;
    color: white;
    position: absolute;
    right: 5%;
    bottom: 5%;
    width: 50px;
    height: 50px;
    z-index: 100000;
    border-radius: 50%;
}

.main #reload-button:hover {
    background-color: yellow;
    color: black;
}

/* Pixiv user search styles */

.main #user-url-input {
    background-color: black;
    color: lightgreen;
    position: relative;
    width: 50%;
}